<div class="container mt-4">
  <h1>Explore all events</h1>
  <%= render "shared/events_search_bar" %>
  <div id="events" class="mt-4">
    <% if @events.any? %>
      <% @events.each do |event| %>
        
        <%= render "shared/events", event: event %>

      <% end %>
    <% else %>
      <em>Sorry, no events found.</em>
    <% end %>
  </div>
</div>
